.header{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    z-index: 1;
}

.nav{
    display: flex;
    flex-direction: column;

    .icon{
        border: 2px solid $color-white-secondary;
        margin: 1rem 0;
        @include boxShadowGlow;

        &:hover:not(.active-icon),&:focus:not(.active-icon){
            border-color: gold;
            transform: scale(1.3);
        }

        &.active-icon{
            background-color: $color-tertiary;

            i{
                color: $color-white !important;
            }
        }
    }
}