.section{
    width: 91%;
    min-height: 100vh;
    position: absolute;
    display: none;
    transform: translateY(-100%);
    opacity: 0;
}

.section:not(.section-Home){
    padding: 1rem 0 0 5rem;
}

.active{
    display: block;
    animation: shift 350ms ease-in-out both;
}

@keyframes shift{
    0%{
        background: rgba(255,255,255,0.7);
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        background: transparent;
        transform: translateY(0);
        opacity: 1;
    }
}

.link{
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    font-weight: 600;
    border: 1px solid $color-tertiary;
    padding: 6px 13px;
    border-radius: 2rem;
    vertical-align: middle;
    color: $color-white !important;
    text-decoration: none !important;

    span:first-child{
        margin-right: 10px;
    }

    i{
        font-size: 1.2rem;
    }

    &::before{
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        height: 100%;
        background-color: $color-tertiary;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        z-index: -1;
        @include transition;
    }

    &:hover {
        &::before{
            width: 100%;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
    }
}

.link-linkedin-profile{
    &::before{
        width: 15%;
    }
}

h3.small-section-heading{
    text-align: center;
    margin: 3rem 0 2rem;
}

.heading{
    text-align: center;
    font-size: 2.5rem;

    span{
        color: $color-tertiary;
    }
}